doctype
html(data-ng-app='contactApp')
  head
    title #{title} - My Site
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') PhoneBook
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Contact List
          ul.nav.navbar-form.navbar-nav
            li
              button#addBtn.btn.btn-primary(type='button', ui-sref='newContact', data-toggle='modal', data-target='#myModal') Add New Contact

              #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    div(ui-view="modal")
    .container
      .row
        div(ui-view="content")
          

    script(type='text/javascript').
      $(document).ready(function(){
      $("#addBtn").click(function(){
      $("#myModal").modal('show');
      });
      });

    script(type="text/javascript", src="js/lib/angular/angular.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js")
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript', src='js/controllers.js')