.modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') ×
    h4#myModalLabel.modal-title Add New Contact
.modal-body
    .form-group
      label.col-sm-6.control-label(for='name') Contact Name
      .col-sm-6
        input#name.form-control(type='text', ng-model='form.name', name='name', placeholder='Contact Name')
    .form-group
      label.col-sm-6.control-label(for='phone') Phone Number
      .col-sm-6
        input#phone.form-control(type='text', ng-model='form.phone', name='phone', placeholder='Phone Number')
.modal-footer
    input.btn.btn-primary(type='submit', value='Save')