table.table.contacttable
  tr
    td
      h3 All Contacts
    td
  tr(ng-repeat='contact in contacts')
    td {{contact.name}}
    td
      a#viewBtn.btn.btn-primary(ui-sref='viewContact({id:contact.id})', data-toggle='modal', data-target='#myModal') View
      a#viewBtn.btn.btn-danger(ui-sref='deleteContact({id:contact.id})', data-toggle='modal', data-target='#myModal') Delete

