.modal-header
	h3 Details for {{contact.name}}
.modal-body
	.form-group
		h5 Phone Number: {{contact.phone}}
.modal-footer
	a.btn.btn-primary(ui-sref='editContact({id:id})') Edit
	a.btn.btn-danger(ui-sref='deleteContact({id:id})') Delete