.modal-header
	h3 Are you sure you want to delete {{contact.name}}? 
.modal-body
	.form-group
		| 
		button(ng-click='deleteContact({id:contact.id})') Yes
		|  - 
		button(ng-click='home()') No thanks